*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family:monospace;
    border: none;
}
#root{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-start;
}

.App{
    width: 800px;
    margin-top: 121px;
}


.book__card{
    width: fit-content;
    background-color: antiquewhite;
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 15px;
    height: 400px;
    cursor: pointer;
    .book__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 180px;
        padding: 5px 15px;
        .book__img{
            width: 120px;
            height: 160px;
            border: 2px black solid;
            margin-bottom: 15px;
        }
        .book__info{
            display: flex;
            flex-direction: column;
            align-items: left;
            h1{
                margin-bottom: 10px;
                width: 180px;
                font-size: 18px;
                padding-bottom: 10px;
                border-bottom: 2px brown solid;
                text-align: left;
            }
            h3{
                margin-bottom: 10px;
                text-align: left;
            }
            p{
                color: brown;
                text-align: left;
            }
        }
    }
}

.books__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.selectes{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: brown;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 66px;
    justify-content: space-evenly;
    flex-direction: row;
    z-index: 0;
    padding: 20px 0px;
    .select__container{
        select{
            background-color: antiquewhite;
            width: 200px;
            height: 30px;
            border: 1px black solid;
            font-size: 16px;
            text-transform: uppercase;
        }
    }
}

.disp__none{
    display: none;
}


.loader__container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    .loader {
        border: 10px solid #f3f3f3;
        border-radius: 50%;
        border-top: 10px solid brown;
        width: 50px;
        height: 50px;
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 2s linear infinite;
      }
      
      /* Safari */
      @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
      }
      
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
}


.search__form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    z-index: 5;
    .search__input{
        border-bottom: 2px brown solid;
        background-color: antiquewhite;
        width: 200px;
        height: 30px;
        font-size: 16px;
        padding: 0 5px;
        color: gray;
    }
    .search__input:focus{
        outline: none;
        color: black;
    }
    button{
        color: antiquewhite;
        background-color: brown;
        width: 200px;
        height: 32px;
        font-size: 16px;
        padding: 0 5px;
        text-transform: uppercase;
        cursor: pointer;
    }
    button:hover{
        background-color: firebrick;
    }
}

.loadMore{
    color: antiquewhite;
    background-color: brown;
    width: 200px;
    height: 32px;
    font-size: 16px;
    padding: 0 5px;
    text-transform: uppercase;
    cursor: pointer;
}


@media (max-width: 450px) {
    body #root .App .selectes .select__container select{
            background-color: antiquewhite;
            width: 100px;
            height: 30px;
    }
    body #root .App .search__form .search__input{
            width: 80px;
    }
    body #root .App .search__form .search__input button{
            width: 80px;
    }
    body #root .App .books__container {
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items: center;
    }
}